.listTodoList {
    list-style-type: none;
    padding: 0;
}

app-item.item {
    display: flex;
    align-items: center;
}

button,
#name {
    border: 1px solid #473728;
  
}

#name{
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
    height: 1.5em;
}

button{
    border-radius: 0px 4px 4px 0px;
    height: 1.8em;
}

#name:focus-visible {
    outline: none;
}